skroutzscraper/skroutzscraper/__pycache__/
skroutzscraper/skroutzscraper/spiders/__pycache__/
.scrapy/
src/__pycache__/
saved_models/aspect_sentiment_model_test/
saved_models/aspect_extractor_model_test/